.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;

}
.home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -350px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
    max-width: 100%;
    max-height: 100%;
    min-width: 400px;
    min-height: 500px;
}
.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
    flex : 1 0 21%
}
.home__filters {
    display: flex;
    font-family: Arial;
    padding: 8px;
    background-color: #232f3e;
    justify-content: left;
  }

.home__filters > p{
    color:  white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 7px !important;
    margin: 10px;
    float: left;
}
.home__filters select {
    cursor: pointer;
    background-color: #131921;
    color: white;
    padding: 7px;
    width: 180px;
    border: none;
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 2px;
}

.home__category{
    margin-left: 10px;
    display: flex;
    flex: 60%;
    justify-content: space-around;
}

.category__item {
    background-color: #232f3e;
    cursor: pointer;
    color: white;
    padding: 5px; 
    margin-right: 1px;
    border: 1px solid transparent;;
    width: 20%;
}

.home__category > button:hover{
    border: 1px solid white;
}

.home__loader{
    margin: 0 550px;
    margin-bottom: -300px;
    z-index: 1;
}

.home__loader > p{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
}
.loader {
    border: 14px solid #f3f3f3; /* Light grey */
    border-top: 14px solid #f0c14b; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }